pingmapper
pingmapper.egg*
.pydirc
dist
procData/*
__pycache__/*
oldFiles/*
testData/*
/src/__pycache__/*
models/bedpick/Old*
exampleData/Test-Large-DS*

main_batch.py
main_batchFolder.py
main_batchDirectory_csb.py
main_csb.py
test_PINGMapper_csb.py

!procData/OutputsHere.txt

PythonSettings.json
slnx*
VSWorkspaceState.json
FileContentIndex
v17

models
procData
src
exampleData
